@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.itemTitle {
  font-family: "Passion One", cursive;
  font-size: 1.75em;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826
}

.subTitle{
  font-family: "Passion One", cursive;
  font-size: 1.5em;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826
}

.price{
  font-family: "Passion One", cursive;
  font-size: 1.25em;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826
}