@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  color: #4a3826;
}
a {
  font-family: "Lexend Exa", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-family: "Passion One", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #4a3826;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: #e1dbd2 !important;
}

@media (prefers-color-scheme: ) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: grey;
  }
}

@layer components {
}
