@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.header {
  /* top: 0px;
  right: 0px;
  left: 0px; */
  font-family: "Passion One", cursive;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.bg-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 768px) {
    .menuButton p {
    padding-top: 0.5em; 
    font-size: 1.25em !important;
    }

   .header{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

   }
   
}

.menuItems {
  font-family: "Passion One", cursive;
  font-size: 1.45em;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #4a3826;
}

.menuItems:hover {
  border-bottom: 2px solid #4a3826 !important;
  /* content: ""; */
}
.menuItems:active {
  border-bottom: 2px solid #4a3826;
  /* content: ""; */
}

.mobileMenuItems {
  font-family: "Passion One", cursive;
  font-weight: 400;
  font-size: 1em;
  color: #4a3826;
}

.mobileMenuItems:hover {
  border-bottom: 2px solid #4a3826 !important;
  /* content: ""; */
}
.mobileMenuItems:active {
  border-bottom: 2px solid #4a3826;
  /* content: ""; */
}

.menuButton {
  font-size:2em !important;
}

.separator {
  font-size: 0.5em;
  margin-top:0.5em;
}