@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.slogan {
  font-family: "Passion One", cursive;
  font-size: 2.5em;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826;
}
.bgWrapper {
  z-index: -1;
  margin-top: 5rem;
  object-fit: cover;
  position: relative;
}

.bgText {
  color: #4a3826;
}

.title {
  font-family: "Passion One", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  color: #4a3826;
}

.subTitle {
  font-family: "Passion One", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.text {
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 768px) {
  .bgWrapper {
    z-index: -1;
  }
  .subTitle {
    font-size: 1.25rem;
  }
}
