@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


.coverImg{
  z-index: -4 !important;
  margin-top: 5rem;
  /* object-fit: cover; */
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.section1{
  //background-image: url("/public/bg-landing.jpg");
}

.watchTemplate {
  display:flex;
  justify-content:center;
  align-content:center;
  width: 400em;
  height: 400em;
}

.productInfoContainer{
}

.itemTitle {
  margin-left: 0rem;
  font-family: "Passion One", cursive;
  font-size: 2.5em !important;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826;
  text-alight:left !important;
}

.itemSubTitle {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Passion One", cursive;
  font-size: 2em;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #4a3826;
}

.price {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #4a3826;
}

.itemDesc {
  font-family: "Noto Sans", sans-serif;
  color: #4a3826;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.counterContainer {
  //margin-top: 1.5em;
  height: 3em;
  border: 1px solid #4a3826;
  width: 100%;
  background-color: #e1dbd2;
  padding: 0 1em 0;
}

.counter {
  font-family: "Passion One", cursive;
  font-size: 1.5em;
  padding: 0 1em 0;
}

.orderButton {
  height: 3em;
  border: 1px solid #4a3826;
  background-color: #4a3826;
  color: white;
  width: 100%;
}

.logoTitle {
  font-family: "Passion One", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #e1dbd2;
}

.specTitle {
  font-family: "Passion One", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #4a3826;
  letter-spacing: 1px;
  padding-top: 1em;
}

.specSubtitle {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.85em;
  font-weight: 700;
  color: #4a3826;
  /* letter-spacing: 1px; */
  padding-bottom: 0.2em;
}

.specDesc {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
}

.bgWrapper {
  z-index: -1;
  margin-top: 5rem;
  object-fit: cover;
  height: 80em;
}

.slogan {
  font-family: "Passion One", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  color: #4a3826;
}

.text {
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 768px) {
  .itemTitle {
    display: flex;
    /* justify-content: center; */
    font-family: "Passion One", cursive;
    font-size: 3.5em;
    letter-spacing: 0.75px;
    font-weight: 400;
    color: #4a3826;
    padding-top: 18px;
    /* padding-left: 0.6em; */
  }

  .itemSubTitle {
    display: flex;
    /* justify-content: center; */
    /* padding-left: 18px; */
    padding-bottom: 18px;
    /* padding-left: 0.75em; */

  }

  .price {
    /* padding-left: 0.75em; */
    padding-top: 0.25em;
  }

  .itemDesc {
    /* padding-left: 1.em; */
    /* padding-right: 1.1em; */
  }

  .counterContainer {
    margin-top: 2em;
    height: 3em;
    border: 1px solid #4a3826;
    /* border-top: 1px solid #4a3826;
    border-bottom: 1px solid #4a3826;
    border-left: 0;
    border-right: 0; */
    width: 100%;
  }
  .specSubtitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    color: #4a3826;
    /* letter-spacing: 1px; */
    padding-bottom: 0.2em;
  }

  .specDesc {
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 0em;
    padding-bottom: 1.1em;
  }
}
